.santorini {
	background-image: url("/img/santorini.jpg");
	height: 100%;
	margin-top: 80px;
	background-size: 100% 100%;
}

.back {
	background-color: rgba(85, 70, 130,.1);
	
	height: 100%;
	width: 100%;
	border: 3px solid;
	
}


.story {
	width: 50%;
	text-shadow: 1px 1px #ff8000;
	font-weight: bold;
	font-size: 110%;
}

