
.nav-bar-container{
	display:flex;
	justify-content:space-around;
	
	background-color:#ebe8dc;
	height:100px;
	width:60%;
	
}
.flex-nav-bar{
position:fixed;
	top:33%;
	opacity:.55;
	width:100%;
	display:flex;
	justify-content:space-around;
}
 .menu-list{
 	display:inline-block;
	text-decoration:none;
 }
 .menu-container{
 	display:flex;
	justify-content:space-around;
	width:100%
 }