@import 'variables';
@import 'about.scss';
@import 'contact.scss';
@import 'gallery.scss';
@import 'index.scss';

@import 'nav.scss';

*{
	box-sizing:border-box;
}
body{
	background-color: $header-bg-color;
	margin:0 0 0 0;
}
