<div id="greekkey">
<hr>
<div id="back">
<div id="story">
<h1>About Us:</h1>

<h3>Coming to America</h3>
<div>
<p>Like many other Greeks looking for an opportunity, my parents left their beautiful country in order to come to America. Greece was having tough economic times similar to what we are seeing there today. Similar to many other Greek immigrants, my parents were in the food business in one capacity or another over the last 30 years.</p>
</div>
  
<h3>My Path</h3>
<div>
<p>Having the same entrepreneurial spirit inherited from my parents, my husband and I opened a convenience store. We operated the business successfully for over 10 years, until I felt the need to challenge myself once again. It took a lot of researching and planning in order to create something that would capture the community in which it served.</p>
</div>

<h3>Baklava Cafe</h3>
<div>
<p>Finally, we have something special to share with everyone. The Baklava Cafe is surely a dream come true, and we hope to serve the community and make new friends along the way. Nestled in the borough of Hatboro, the reception we have received from this tight-knit community has been overwhelming. We hope to see continued support from our existing customers, in addition to welcoming new faces at any time. Please come in and relax, let our family take care of your family. A taste of the Mediterranean, now near you!</p>
</div>
</div>
</div>
</div>