
<div class="containerContact">
  <form action="https://coffeeconnectionhilliard.files.wordpress.com/2016/05/thank-you-1400x800-c-default.gif">
    <label for="fname">Name</label>
    <input type="text" id="fname" name="firstname" placeholder="Your name..">

    <label for="email">Email</label>
    <input type="text" id="lname" name="lastname" placeholder="Your last name..">

    <label for="amount">How Many People</label>
    <select id="country" name="country">
      <option value="catering10">Catering for 10+</option>
      <option value="catering25">Catering for 25+</option>
      <option value="catering50">Catering for 50 +</option>
      <option value="weddings/custom">Weddings/Custom</option>
    </select>

    <label for="info">Tell Us A Little More About Your Event</label>
    <textarea id="subject" name="subject" placeholder="Write something.." style="height:200px"></textarea>

    <input class="submit" type="submit" value="Submit">
  </form>
</div>

