<div id="shadow" class="shadow"></div>

<video playsinline autoplay muted loop poster id="background-video" class="background-video">
    <source src="video/gallery-background.mp4" type="video/webm">
</video>

<div class="modalAlign">
	<div id="modal" class="modalContainer">
	<div class="close"></div>
	  <form action="/send_mail">
	    <label for="fname">Name:</label>
	    <input type="text" id="fname" name="firstname" placeholder="Please Tell Us Your First And Last Name">

	    <label for="email">Email:</label>
	    <input type="text" id="email" name="email" placeholder="An Email Where We Can Reach You">

	    <label for="guests">How Many Guests:</label>
	    <select id="guests" name="guests">
	      <option value="guest10">10+ Guests</option>
	      <option value="guest25">25+ Guests</option>
	      <option value="guest50">50+ Guests</option>
	      <option value="custom_cater">Custom Cater</option>
	    </select>

	    <label palcefor="info">More Info:</label>
	    <textarea id="subject" name="more_info" placeholder="Tell Us About Your Party!" style="height:200px"></textarea>
	    <div class="submitContainer">
	    <input class="submit" type="submit" value="Submit">
	    </div>
	  </form>
	</div>
</div>
<div class="arrow-left"></div>
<div class="arrow-right"></div>