<div class="carousel-container">
	<div class="arrow-left">
		<div class="left"></div>
	</div>
	<div class="photo-container"></div>
	<div class="arrow-right">
		<div class="right"></div>
	</div>
</div>

