<link href="https://fonts.googleapis.com/css?family=Playball|Tangerine" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="../css/style.css">

<!-- #ebe8dc -->

<div class="flex-nav-bar">
<div class="nav-bar-container">
	<ul class="menu-container">


	<li class="menu-list"><a href="/">Home</a></li>
	<li class="menu-list"><a href="/gallery">Gallery</a></li>
	<li class="menu-list"><a href="/about">About</a></li>
	<li class="menu-list"><a href="/contact">Contact</a></li>
</ul>
</div>
</div>


<div><%=yield%></div>






<script type="text/javascript" src="../js/main.js"></script>
